body{
    padding :0;
    margin :0;
    background-color: rgb(22, 0, 26);
    font-family :serif;

    
}
.container-fluid{
    padding :0;
    margin :0;
}
#head{
    padding :0;
    margin :0;
    background-color: rgb(136, 3, 177);
}

#google-logo{
    height: 35px;
    width: 35px;
}
#google-search-button{
    color: white;
    background-color: rgb(7, 182, 7)
}
#google-search-button:hover{
    color: rgb(0, 177, 9);
    background-color: #ffffff;
}
#navbar{
    float:right;
    font-size:20;
}
.row{
    padding :0;
    margin :0;
}
#my-image{
    height: auto;
    width: 80%;
    box-shadow: 0 0 15px #c300ff;
    border: 3px solid #000000;
}
#my-image:hover{
    transition-duration: 0.3s;
    box-shadow: 0 0 15px #ffffff;
    border: 6px solid #000000;
}
#image-border-effect{
    padding :0;
    margin :0;
}
#section-second-div{
    border-left: 1px dotted rgba(255, 255, 255, 0.404);
    border-right: 1px dotted rgba(255, 255, 255, 0.404);
    height: auto;
}
#second-section-heading{
    color: #ffffff;
}
#second-section{
    width: 100%;
}
hr{
    border-top: 1px dotted rgb(255, 255, 255);
    width: 95%;
    opacity: 30%;
}
#cards{
    background-color: rgb(0, 0, 0);
    border-radius: 3% 20%;
    box-shadow: 0 0 8px  #e100ff;;
}
#cards:hover{
    background-color: rgb(122, 0, 170);
    box-shadow: 0 0 30px #ffffff;
    transition-duration: 0.5s;
}
